.container {
  

  padding: 50px 20px;
  height: 100%;
  width: 100%;
  

  h1 {
    font-size: clamp(2.5rem, 2.75vw, 3.5rem);
    font-style: italic;
  }

  input,
  textarea {
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid var(--title-color);
    border-radius: 5px;
    width: 100%;
    padding: 5px;

    color: #fff;
    font-size: clamp(1rem, 1.15vw, 1.25rem);

    &::placeholder {
      color: #fff;
      opacity: 0.6;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
    margin-top: 5%;

    section {
      display: flex;
      gap: 30px;
      width: 100%;

      @media (max-width: 900px) {
        flex-direction: column;
      }

      input {
        display: inline;
      }
    }

    textarea {
      border: 1px solid var(--title-color);
    }

    button {
      display: flex;
      align-content: center;
      justify-content: center;

      gap: 20px;
      padding: 10px 75px;

      border: none;
      border-radius: 5px;
      background: var(--hover-text-color);
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease;

      font-size: 1.5rem;

      &:hover {
        background: var(--title-color);
        transform: scale(1.05);
      }
    }
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
.loader {
  margin: 0 auto;
  font-size: 1rem;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
