.container {
  padding: 50px 20px;
  height: 100%;
  width: 100%;

  @media (max-width: 1000px) {
    padding: 20px;
  }

  h1 {
    font-size: clamp(2.5rem, 2.75vw, 3.5rem);
    font-style: italic;
  }

  input,
  textarea {
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid var(--title-color);
    border-radius: 5px;
    width: 100%;
    padding: 5px;

    color: var(--placeholder-color);
    font-size: clamp(1rem, 1.15vw, 1.25rem);

    transition: 0.2s ease;

    &::placeholder {
      color: var(--placeholder-color);
      opacity: 0.6;
    }

    &:focus {
      background: rgba($color: #000000, $alpha: 0.1)
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
    margin-top: 5%;

    section {
      display: flex;
      gap: 30px;
      width: 100%;

      @media (max-width: 900px) {
        flex-direction: column;
      }

      input {
        display: inline;

        &:hover, &:focus {
          border-bottom: 1px solid var(--hover-text-color);
        }
      }
    }

    textarea {
      border: 1px solid var(--title-color);
      resize: vertical;
      min-height: 225px;

      &:hover, &:focus {
        border: 1px solid var(--hover-text-color);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-items: center;

      gap: 15px;
      padding: 10px 20px;

      border: none;
      border-radius: 5px;
      background: var(--title-color);
      color: #fff;
      cursor: pointer;
      transition: all 0.5s ease;

      font-size: 1.25rem;

      span {
        display: flex;
        flex-direction: column;

        .fire {
          display: none;
          position: relative;
          left: -9px;
          bottom: 5px;
          height: 15px;
        }

        .rocket {
          position: relative;
          left: 5px;
          color: #fff;
        }
      }

      &:hover {
        background: var(--hover-text-color);
        transform: scale(1.02);
        color: #fff;

        .fire,
        .rocket {
          animation: rocket 0.5s ease-in-out infinite alternate;
          display: inline;
        }

        .fire {
          color: #faa500;
        }
      }
    }
  }
}

// rocket

@keyframes rocket {
  0% {
    transform: translateY(5px);
    filter: brightness(0.9);
  }

  100% {
    transform: translateX(5px);
    filter: brightness(1.1);
  }
}

// spinner
.loader,
.loader:after {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
.loader {
  margin: 0 auto;
  font-size: 1rem;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
