.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;

  @media (max-width: 800px) {
    gap: 20px;
    padding: 20px;
  }

  h1 {
    font-size: clamp(2.5rem, 2.75vw, 3.5rem);
    font-style: italic;
    cursor: default;
  }

  span {
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    cursor: default;
  }

  ul {
    display: flex;
    align-items: baseline;
    gap: 30px;


    li {
      cursor: pointer;
      color: var(--title-color);
      font-size: clamp(1rem, 1.5vw, 1.75rem);
      font-style: italic;
      letter-spacing: 0.5px;

      transition: 0.3s ease;

      &:hover {
        color: var(--hover-text-color);
      }
    }

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .footer {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 5px;


    span {
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      font-style: italic;
      font-weight: 500;
      color: var(--title-color);
    }

    p {
      
      font-size: clamp(1rem, 1.25vw, 1.25rem);
      font-style: italic;
      font-weight: 500;
      color: var(--text-color);
    }
  }
}
