.btnDownloadCv {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  letter-spacing: 1px;
  font-weight: 500;

  padding: 10px 20px;

  color: #fff;
  border-radius: 10px;
  background: var(--title-color);
  filter: brightness(1.1);
  box-shadow: 0px 0px 10px 0.5px var(--title-color);

  transition: 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 20px 0.5px var(--title-color);
    transform: scale(1.1);
  }
}
