.wrapper {
    display: grid;
}

.img {
    display: block;
    max-width: 100%;
    grid-area: 1/1;
    opacity: 0;

    transition: opacity 0.2s;
}

.skeleton {
    grid-area: 1/1;
    height: 100%;
    background-image: linear-gradient(90deg, var(--text-color) 0px, var(--background-color) 50%, var(--text-color) 100%);
    background-color: var(--background-color);
    background-size: 200%;
    animation: skeleton 3s infinite linear;
}

@keyframes skeleton {
    from {
        background-position: 0px;
    }

    to {
        background-position: -200%;
    }
}